mixin head(data)
  - data = data || {}
  meta(charset="utf-8")
  base(href!="<?=SITE_URL?>")
  title <?=PAGE_TITLE?>
  meta(content=data.description, name="description")
  meta(content=data.keywords, name="keywords")
  meta(property="og:type", content="website")
  link(rel="image_src", href!=data.shareImage)
  meta(content=data.author name="author")
  meta(content="telephone=no", name="format-detection")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="HandheldFriendly", content="true")
  meta(name="MobileOptimized", content="320")
  meta(content="IE=edge", http-equiv="X-UA-Compatible")
  meta(property="og:title", content=data['og:title'])
  meta(property="og:image", content!=data['og:image'])
  meta(property="og:site_name", content=data['og:site_name'])
  meta(property="og:description", content=data['og:description'])
  meta(name="twitter:title", content=data['og:title'])
  meta(name="twitter:image:src", content!=data['og:image'])
  meta(name="twitter:description", content=data['og:description'])
  link(href!="<?=urlV('%=PATH_CSS=%/styles'.$sourceSuffix.'.css')?>", rel="stylesheet", type="text/css")