// Template for font
//
//@font-face {
//	font-family: 'FONTNAME';
//	src: url('#{$pathToFonts}/FONTNAME/FONTNAME.eot');
//	src: url('#{$pathToFonts}/FONTNAME/FONTNAME.eot?#iefix') format('embedded-opentype'),
//		url('#{$pathToFonts}/FONTNAME/FONTNAME.otf') format('opentype'),
//		url('#{$pathToFonts}/FONTNAME/FONTNAME.woff2') format('woff2'),
//		url('#{$pathToFonts}/FONTNAME/FONTNAME.woff') format('woff'),
//		url('#{$pathToFonts}/FONTNAME/FONTNAME.ttf') format('truetype'),
//		url('#{$pathToFonts}/FONTNAME/FONTNAME.svg#gt_haptik_regularregular') format('svg');
//	font-weight: 500;
//	font-style: normal;
//}

@import 'variables';

@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans'), local('PTSans-Regular'), url('#{$pathToFonts}ptsans/ptsans.woff2') format('woff2'), url('#{$pathToFonts}ptsans/ptsans.woff') format('woff'), url('#{$pathToFonts}ptsans/ptsans.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Italic'), local('PTSans-Italic'), url('#{$pathToFonts}ptsans/ptsansitalic.woff2') format('woff2'), url('#{$pathToFonts}ptsans/ptsansitalic.woff') format('woff'), url('#{$pathToFonts}ptsans/ptsansitalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Bold'), local('PTSans-Bold'), url('#{$pathToFonts}ptsans/ptsansbold.woff2') format('woff2'), url('#{$pathToFonts}ptsans/ptsansbold.woff') format('woff'), url('#{$pathToFonts}ptsans/ptsansbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('#{$pathToFonts}ptsans/ptsansbolditalic.woff2') format('woff2'), url('#{$pathToFonts}ptsans/ptsansbolditalic.woff') format('woff'), url('#{$pathToFonts}ptsans/ptsansbolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}