@import '../core/variables';

//
// Mixins
// --------------------------------------------------


// UTILITY MIXINS
// --------------------------------------------------

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Sizing shortcuts
// -------------------------
@mixin size($height, $width) {
  width: $width;
  height: $height;
}
@mixin square($size) {
  @include size($size, $size);
}
// Размер блока из массива "width height"
@mixin blockSize($arr) {
  width: nth($arr,1);
  height: nth($arr,2);
}

// Placeholder text
// -------------------------
@mixin placeholder($color: $placeholderText) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
@mixin hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


// FONTS
// --------------------------------------------------

@mixin font-face( $fontName, $fontSystemName ) {
    @font-face {
        font-family: '#{$fontName}';
        src: url('#{$pathToFonts}#{$fontSystemName}.eot');
        src: url('#{$pathToFonts}#{$fontSystemName}.eot?#iefix') format('embedded-opentype'),
             url('#{$pathToFonts}#{$fontSystemName}.woff') format('woff'),
             url('#{$pathToFonts}#{$fontSystemName}.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
	}

// Resize anything
@mixin resizable($direction) {
  resize: $direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}

// Подключение фоновой картинки
@mixin bg($name, $size: auto, $position: 50% 50%, $repeat: no-repeat) {
  background-image: url("#{$pathToImg}@{name}");
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

// Растягивает блок на весь экран. Учитывает тулбары на мобильных.
@mixin full-screen {
  width: auto !important;
  height: auto !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  overflow: hidden;
}

// Скрытие текста, не исключая его из потока данных экранных читалок (аналог alt для картинок)
// возможно не хватает еще пары правил
@mixin sr {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(1px,1px,1px,1px);
}

@mixin container($width: $widthContent) {
  max-width: $width;
  margin: 0 auto;
}