// Paths
$pathToImg : "../../build/images/";
$pathToDevImg : "../../src/images/";
$pathToFonts :  "../../src/fonts/";

// Fonts
$reserveFonts: sans-serif;
$fontPrimary: 'PT Sans', $reserveFonts;

// Sizes
$widthContent: 98rem;
$heightHeader: 7.5rem;
$heightFooter: 7.5rem;

// Colors
$colorPrimary: steelblue;