@png-test-circ-2: 0*0.1rem 0*0.1rem 0*0.1rem 0*0.1rem 51*0.1rem 51*0.1rem 110*0.1rem 110*0.1rem 'test2.png';
@png-test-rect-2: 59*0.1rem 0*0.1rem -59*0.1rem 0*0.1rem 51*0.1rem 51*0.1rem 110*0.1rem 110*0.1rem 'test2.png';
@png-test-star-2: 0*0.1rem 59*0.1rem 0*0.1rem -59*0.1rem 51*0.1rem 51*0.1rem 110*0.1rem 110*0.1rem 'test2.png';

.png-get-width(@png-sprite) {
	@png-width: extract(@png-sprite,5);
}
.png-get-height(@png-sprite) {
	@png-height: extract(@png-sprite,6);
}
.png-get-size(@png-sprite) {
	.png-get-width(@png-sprite);
	.png-get-height(@png-sprite);
}
.png-get-sprite-size(@png-sprite) {
	@png-sprite-width: extract(@png-sprite,7);
	@png-sprite-height: extract(@png-sprite,8);
}

.png-sprite-size(@png-sprite, @k: 1) {
	.png-get-sprite-size(@png-sprite);
	background-size:  @png-sprite-width * @k @png-sprite-height * @k;
}

.png-k-width(@png-sprite,@width) {
	.png-get-width(@png-sprite);
	@png-k: @width / @png-width;
}
.png-k-height(@png-sprite,@height) {
	.png-get-height(@png-sprite);
	@png-k: @height / @png-height;
}
.png-k(@png-sprite,@width: 0, @height: 0, @k: 1) when not (@width = 0) {
	.png-k-width(@png-sprite,@width);
}
.png-k(@png-sprite,@width: 0, @height: 0, @k: 1) when not (@height = 0) {
	.png-k-height(@png-sprite,@height);
}
.png-k(@png-sprite,@width: 0, @height: 0, @k: 1) when (@width = 0) and (@height = 0) {
	@png-k: @k;
}

.png-get-position(@png-sprite) {
	@png-position-x: extract(@png-sprite,3);
	@png-position-y: extract(@png-sprite,4);
}

.png-position(@png-sprite, @k: 1) {
	.png-get-position(@png-sprite);
	background-position: @png-position-x * @k  @png-position-y * @k;
}

.bg-png(@png-sprite, @repeat: no-repeat, @k: 1, @width: 0, @height: 0) {
	.png-sprite-image(@png-sprite);
	.bg-png-scale(@png-sprite, @k: @k, @width: @width, @height: @height);
	background-repeat: @repeat;
}

.bg-png-scale(@png-sprite, @k: 1, @width: 0, @height: 0){
	.png-k(@png-sprite,@width: @width, @height: @height,@k: @k);
	.png-position(@png-sprite, @png-k);
	.png-size(@png-sprite, @png-k);
	.png-sprite-size(@png-sprite, @png-k);
}

.png-get-sprite-image(@png-sprite) {
	@png-sprite-image: extract(@png-sprite,9);
}

.png-sprite-image(@png-sprite) {
	.png-get-sprite-image(@png-sprite);
	background-image: url('@{pathToImg}png-sprites/@{png-sprite-image}');
}

.png-size(@png-sprite, @k: 1) {
	.png-get-size(@png-sprite);
	width: @png-width * @k;
	height: @png-height * @k;
}

.icon_png--test-circ-2 {
	.bg-png(@png-test-circ-2);
}
.icon_png--test-circ-2-size {
	.png-size(@png-test-circ-2);
}
.icon_png--test-rect-2 {
	.bg-png(@png-test-rect-2);
}
.icon_png--test-rect-2-size {
	.png-size(@png-test-rect-2);
}
.icon_png--test-star-2 {
	.bg-png(@png-test-star-2);
}
.icon_png--test-star-2-size {
	.png-size(@png-test-star-2);
}
