@import '../core/variables';

//
// Mixins
// --------------------------------------------------


// UTILITY MIXINS
// --------------------------------------------------

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Sizing shortcuts
// -------------------------
.size(@height, @width) {
  width: @width;
  height: @height;
}
.square(@size) {
  .size(@size, @size);
}
// Размер блока из массива "width height"
.blockSize(@arr) {
  width: extract(@arr,1);
  height: extract(@arr,2);
}

// Placeholder text
// -------------------------
.placeholder(@color: @placeholderText) {
  &:-moz-placeholder {
    color: @color;
  }
  &:-ms-input-placeholder {
    color: @color;
  }
  &::-webkit-input-placeholder {
    color: @color;
  }
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
.hide-text() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


// FONTS
// --------------------------------------------------

.font-face( @fontName, @fontSystemName ) {
    @font-face {
        font-family: '@{fontName}';
        src: url('@{pathToFonts}@{fontSystemName}.eot');
        src: url('@{pathToFonts}@{fontSystemName}.eot?#iefix') format('embedded-opentype'),
             url('@{pathToFonts}@{fontSystemName}.woff') format('woff'),
             url('@{pathToFonts}@{fontSystemName}.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
	}

// Resize anything
.resizable(@direction) {
  resize: @direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}

// Подключение фоновой картинки
.bg(@name, @size: auto, @position: 50% 50%, @repeat: no-repeat) {
  background-image: url("@{pathToImg}@{name}");
  background-repeat: @repeat;
  background-position: @position;
  background-size: @size;
}

// Получение размера картинки в rem'ах
// После вызова можно использоввать возвращаемые @imgW, @imgH, @imgSize
.imgSize(@path) {
  @imgW: unit(image-width("@{pathToDevImg}@{path}")/10, rem);
  @imgH: unit(image-height("@{pathToDevImg}@{path}")/10, rem);
  @imgSize: @imgW @imgH;
}
// Блок с фоновой картинкой по размеру файла
.bgBox(@name, @position: 50% 50%, @repeat: no-repeat) {
  .imgSize(@name);
  .bg(@name, @imgSize, @position, @repeat);
  .blockSize(@imgSize);
}

// Растягивает блок на весь экран. Учитывает тулбары на мобильных.
.full-screen() {
  width: auto !important;
  height: auto !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  overflow: hidden;
}

// Скрытие текста, не исключая его из потока данных экранных читалок (аналог alt для картинок)
// возможно не хватает еще пары правил
.sr() {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(1px,1px,1px,1px);
}

.container(@width: @widthContent) {
  max-width: @width;
  margin: 0 auto;
}