include ../modules/_modules
+module(MODULE.DEFINE_VIEW, {title: 'Главная страница', id: 0, view: 'Index'})

block content
  .page.page--index(data-view!='<?=PAGE_JS_VIEW?>')
    .container
      // Тестовый контент
      .example-load-img(data-wait-to-load style='background-image:url("templates/src/images/pixel.gif")')
      img.example-load-img(data-wait-to-load='templates/src/images/pixel.gif' src='')
      // Symbol SVG
      +module(MODULE.SVG,{id: 'test-star'})
      // Генерируемые классы для спрайтов
      .icon_svg--test-test
      .icon_png--test-test
      // Вставка спрайтов через миксин, см. templates/src/styl/modules/test.styl
      .test__icon-svg
      .test__icon-png