include ../modules/_modules
+module(MODULE.DEFINE_VIEW, {title: 'Page1', id: 1, view: 'Page1'})

block content
  .page.page--page1(data-view!='<?=PAGE_JS_VIEW?>')
    .container
      h1 Page1
      p Lorem ipsum dolor sit amet, #[a(href='https://ya.ru') consectetur adipiscing] elit. Phasellus molestie ipsum vel tortor vestibulum, sed dignissim turpis dapibus. Donec vitae libero lorem. Cras tempus lacus at tellus lacinia euismod. Morbi tristique diam et nisi pulvinar, quis mollis metus tristique. Sed ipsum purus, dictum at tempor sit amet, tristique quis ligula. Praesent a imperdiet ante, vitae mattis magna. Aliquam ac interdum diam, nec faucibus sem. Duis sit amet ligula laoreet, finibus diam quis, accumsan ante. In imperdiet cursus ligula, in egestas neque. Nulla tincidunt consectetur ultrices. Sed laoreet ac tellus quis gravida. Aliquam sodales sapien quis lacus accumsan, ut tincidunt augue bibendum.