// Дополнительные стили уровня проекта (все что кроме блоков и глобальных стилей)

@import '../core/variables';
@import '../core/mixins';

.sr {
	.sr();
}

.container {
	position: relative;
	.container();
}

.page {
	min-height: ~'calc(100vh - @{heightHeader} - @{heightFooter})';
	padding: 5rem 0;

	&--index {
		padding: 3rem 0;
	}
}
