// Дополнительные стили уровня проекта (все что кроме блоков и глобальных стилей)

@import '../core/variables.styl';
@import '../core/mixins.styl';

.sr {
  sr();
}

.container {
  position: relative;
  container();
}

.page {
  min-height: 'calc(100% - %s - %s)' % ($heightHeader $heightFooter);
  padding: 5rem 0;

  &--index {
    padding: 3rem 0;
  }
}