// глобальные классы (начинаются с -)
// что-то вроде модификаторов без блока

.-desktop {
	display: block;

	.mobile & {
		display: none;
	}
}

.-mobile {
	display: none;

	.mobile & {
		display: block;
	}
}